<div *ngIf="owner" class="container">

    <h2>Shop Owner Details</h2>
  
    <div class="card">
      <p><b>Name:</b> {{ owner.ownerName }}</p>
      <p><b>Shop:</b> {{ owner.shopName }}</p>
      <p><b>Mobile:</b> {{ owner.mobile }}</p>
      <p><b>Location:</b> {{ owner.address }}</p>
      <p><b>Status:</b>
        <span [class]="owner.status">
          {{ owner.status }}
        </span>
      </p>
    </div>
  
    
  <!-- GOOGLE MAP -->
  <div id="map"></div>

  
    <div class="actions">
      <button *ngIf="owner.status === 'PENDING'" class="approve" (click)="approve()">Approve</button>
      <button *ngIf="owner.status === 'PENDING'" class="reject" (click)="reject()">Reject</button>
      <button class="back" (click)="back()">Back</button>
    </div>
  
  </div>
  